<div class="divA">
<div class="divName">
<h1>{{title}}</h1>
<hr>
<div class="divName">
<label>{{startDate}}~{{endDate}}</label>
</div>
<div>
<h2>範例說明: {{description}}</h2>
</div>

<div class="divName">
<label>姓名:</label><input type="text" [(ngModel)]="userName">
</div>
<div class="divName">
<label>手機:</label><input type="text" [(ngModel)]="userPhone">
</div>
<div class="divName">
<label>Email:</label><input type="text" [(ngModel)]="userEmail">
</div>
<div class="divName">
<label>年齡:</label><input type="number" [(ngModel)]="userAge">
</div>
<div>
  <ol>
@for(answer of newquesArray ; track $index){
    <li>
      <h3>
     {{answer.name}}
     @if(answer.required){
      <span style="color: brown;">*</span>
     }
        </h3>
    </li>
      @if(answer.type == "M"){
        @for(op of answer.optionsList ; track $index){
          <input type="checkbox" [(ngModel)] = 'op.checkBoolean'>
          <label>{{op.optionName}}</label>
          <br>
        }
      }
      @if(answer.type == "S"){
         @for(op of answer.optionsList ; track $index){
          <input type="radio" name="{{answer.questionId}}" value="{{op.code}}"
          [(ngModel)] = "answer.radioAnswer">
          <label>{{op.optionName}}</label>
          <br>
        }
      }
        @if (answer.type === "T"){
          <label>
            <textarea [(ngModel)] = "answer.Answer"></textarea>
          </label>
          <br>
        }

  }
 </ol>
</div>
</div>
<button (click)="Preview()">預覽</button>

