<h2 mat-dialog-title>標題</h2>
<mat-dialog-content>
  <div>
  <label>題號</label><input type = "number" [(ngModel)]="questId">
  </div>
  <div>
  <label>題目</label><input type = "text" [(ngModel)]="questName">
  </div>
  <div>
  <label>題目類型</label>
  <select [(ngModel)]="type">
    <option value="S">單選題</option>
    <option value="M">多選題</option>
    <option value="T">簡答題</option>
  </select>
  </div>
  <div>
  <label>必填</label>
  <label>
  <input type="radio" [(ngModel)]="need" [value]="true" name="needRadio"> 是
</label>
<label>
  <input type="radio" [(ngModel)]="need" [value]="false" name="needRadio"> 否
</label>
  </div>
  <label>選項</label>
  @if(type == 'S'){
    <div>
    <button (click)="addOption()">新增選項</button>
    <button (click)="saveOptions()">儲存</button>
    </div>
    <div>
      @for (opt of options; track $index) {
        <div>
          選項 {{ opt.code }}:
          <input [(ngModel)]="opt.optionName" placeholder="請輸入選項內容" />
        </div>
      }
    </div>
    }
    @if(type == 'M'){
    <div>
    <button (click)="addOption()">新增選項</button>
    <button (click)="saveOptions()">儲存</button>
    </div>
    <div>
      @for (opt of options; track $index) {
        <div>
          選項 {{ opt.code }}:
          <input [(ngModel)]="opt.optionName" placeholder="請輸入選項內容" />
        </div>
      }
    </div>
    }



</mat-dialog-content>

<mat-dialog-actions>
  <button (click)="onNOClick()">取消</button>
  <button (click)="safeData()">確定</button>
</mat-dialog-actions>

