<div class="login-box">
  <p>註冊帳號</p>
  <form>
    <div class="user-box">
      <input name="userName" type="text"  [(ngModel)]="userName">
      <label>姓名</label>
    </div>
    <div class="user-box">
      <input  name="userAccount" type="text" [(ngModel)]="userAccount">
      <label>電子郵件</label>
    </div>
    <div class="user-box">
      <input  name="userPwd" type="text" [(ngModel)]="userPwd">
      <label>密碼</label>
    </div>
    <a (click) = "signUpClick()">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      確認
    </a>
  </form>
  <p>有帳號了嗎?前往<a routerLink ="/login" class="a2">登入</a></p>
</div>
