<div class="diva">
  <div class="divb">
    <label>問卷調查:<input (keyup)="changeData($event)" [(ngModel)]="inputData"></label>
    <br>
    <label>統計時間:</label><input type="date" [(ngModel)]="chooseDate"><label>到</label><input type="date"
      [(ngModel)]="endDate" min={{chooseDate}}><button class="btnStyle" (click)="searchByDate()">搜尋</button>
  </div>
</div>
<div class="divStyle4">
  @if(admincreate){
  <button (click)="adminlogout()" routerLink="/backstage" class="round-btn"><mat-icon>logout</mat-icon></button>
  }@else{
  <button (click)="adminlogin()" routerLink="/backstage" class="round-btn"><mat-icon>account_circle</mat-icon></button>
  }
  <div style="width: 65%; " class="mat-elevation-z8">
    @if(admincreate){
    <button routerLink="/backstage" class="round-btn"><mat-icon>add</mat-icon></button>
    <button (click)="deleteQuiz()" class="round-btn"><mat-icon>delete</mat-icon></button>
    <button (click)="updateQuiz()" class="round-btn"><mat-icon>edit</mat-icon></button>
    }
    <button (click)="powerDown()" class="round-btn"><mat-icon>arrow_downward</mat-icon></button>
    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          @if(admincreate){
          <mat-checkbox (change)="toggleAllRows()" [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
          }
        </th>
        <td mat-cell *matCellDef="let row">
          @if(admincreate){
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)" [disabled]="row.publish">
          </mat-checkbox>
          }
        </td>
      </ng-container>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> 編號
        </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> 名稱 </th>
        <td mat-cell *matCellDef="let element" (click)="element.status === '進行中'&& goToQuiz(element.id)" [ngClass]="{
    clickable: element.status === '進行中',
    disabled: element.status !== '進行中'}"> {{element.title}} </td>
      </ng-container>

      <ng-container matColumnDef="publish">
        <th mat-header-cell *matHeaderCellDef> 發布 </th>
        <td mat-cell *matCellDef="let element"> {{element?.publish ? '已發佈' : '未發佈' }} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> 狀態 </th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="startDate">
        <th mat-header-cell *matHeaderCellDef> 開始時間</th>
        <td mat-cell *matCellDef="let element"> {{element.startDate}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="endDate">
        <th mat-header-cell *matHeaderCellDef> 結束時間 </th>
        <td mat-cell *matCellDef="let element"> {{element.endDate}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> 結果 </th>
        <td mat-cell *matCellDef="let row">
          <button mat-raised-button color="primary" (click)="goToResult(row.id)"
           [ngClass]="{
    clickable: row.status !== '進行中',
    disabled: row.status == '未開始'}">
            查看結果
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
</div>
